<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Flashlight
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        @if (active) {
          <ion-text>Flashlight ON</ion-text>
        }
        @if (!active) {
          <ion-text>Flashlight OFF</ion-text>
        }
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-toggle [enableOnOffLabels]="true" (ionChange)="flash()"></ion-toggle>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
